* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    max-width: 1200px;
    margin: 0 74.5px;
   
}

div {
    display: block;
}



/* Common */
.clear {
    clear: both;
}

.uppercase-text{
    text-transform: uppercase;
}

.font-weight {
    font-weight: 100;
}

.row {
    padding: 0 16px;
    margin: 0 -16px;
     font-size: 0px;  /* Ngăn chặn các khối bên trong xuất hiện khoảng trắng trong 1 thẻ cha*/
}

.row-full {
    width: 100%;
}
.col {
    
}

.col-four {
    
    width: calc(950px / 4);
}

.pd-16 {
    padding: 0 16px;
}

.pd-32 {
    padding: 0 32px;
}

.pull-left {
    float: left;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boder-none {
    border: none;
}

/* Common */

#nav {
    position: fixed;
    width: 250px;
    height: 100%;
    list-style-type: none;
    overflow: auto;
    top: 0;
    bottom: 0;
   z-index: 3;
    
}

#nav .logo {
    padding: 16px;
    
}
#nav .logo .logo-content {
    line-height: 36px;
    margin: 10px 0;
    font-size: 24px;
    display: block;
    letter-spacing: 4px;
}
#nav .logo .logo-content b {
    font-weight: 500;
    
}
#nav .list-item, .sub-list-item, .nav-contact-list {
    list-style-type: none;
}
#nav .items {
    padding: 64px 0;
    width: 100%;
    display: block;
}
#nav .list-item li {
    width: 100%;

}
.nav-contact-list li:hover a,
#nav .list-item >li:hover > a,
#nav .sub-list-item > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .list-item li a {
    width: 100%;
    padding: 11px 16px;
    display: block;
    font-size: 18px;
    color: #757575;
    font-weight: 600;
    text-decoration: none;
}
#nav .sub-list-item {
    padding: 12px 24px;
}
#nav .sub-list-item li {
    display: block;
}
#nav .sub-item {
    font-size: 15px;
    display: none;
}
#nav .sub-item.open {
    display: block;
}

#nav .nav-contact {
    
}
.nav-contact-list {
    
}
.nav-contact-list li {  
    font-size: 15px; 
}

.nav-contact-list a {
    width: 100%;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px 16px; 
    line-height: 22px;
    
}
#main {
  margin-left: 250px;
  padding: 0.24px 0px;
}
#header {
    
    
}

.header-container {
   font-size: 24px;
   line-height: 88px;
  
}

.header-container-left {
    float: left;
    letter-spacing: 3px;
    font-weight: 0;
}
.header-search {
    float: right;
}
.header-search .btn-search {
    margin-left: 15px;
}

#main .img-container {
    position: relative;
    width: 100%;
    height: 612px;
} 
#main .img-content {
    position: absolute;
    padding: 46px 36px;
    top: 0;
    color: #fff ;
}
.first-content-img {
    font-size: 64px;
    margin-bottom: 30px;

    
}
.second-content-img {
    font-size: 36px;
    margin-bottom: 15px;
    
}
.img-content>p:hover .shop-now {
    background-color: #ccc;
    color: #000;
    cursor: pointer;

}
.img-content .shop-now {
    font-size: 18px;
    padding: 12px 24px;
    line-height: 51px;
    background-color: #000;
    letter-spacing: 1px;
    color: #fff;
    border: none;
}
#main .quantity-items {
    font-size: 15px;
    opacity: 0.7;
}

#main .quantity-items p {
    margin: 15px 0;
    line-height: 22px;
}

#content {
    width: 950px;
}

#content .list-production-section {
   
}
#content .item   {
    display: inline-block;
    font-size: 15px;
}
#content .img-item {
    width: 100%;
}

#content .item-img-container {
    padding: 0 16px;
}
#content .img {
    position: relative;
}

#content .item-new,
#content .item-sale {
    position: absolute;
}

#content .item-new,
#content .item-sale {
    top: 0;
    left: 0;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    line-height: 22px;
    letter-spacing: 1px;
    display: none;
}

#content .btn-buy {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 8px 16px;
    color: #fff;
    border: none;
    background-color: #000;
    font-size: 15px;
    line-height: 22px;
    
    /* overflow: hidden; */
    /* text-decoration: none; */
    /* text-align: center; */

}
.display-hover {
    display: none;
}
#content .img:hover .display-hover {
    display: block;
}

#content .item .info-item p {
    margin: 15px 0;
    line-height: 1.6;
    font-size: 15px;
}

#subscribe {
    background-color: #000;
}

#subscribe .subscribe-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

#subscribe .subscribe-container h1 {
    font-size: 36px;
    color: #fff;
    padding: 6px 0;
    font-weight: 400;
    width: 100%;
    letter-spacing: 2px;
    display: block;
}

#subscribe .subscribe-container p {
    width: 100%;
    padding: 3px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

#subscribe .form-control {
    width: 100%;
    line-height: 22px;
    padding: 8px;
    border: #000 solid 1px;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 15px;
}
#subscribe .btn-submit {
    margin-bottom: 16px;
}
#subscribe .btn-submit-form {
    color: #fff;
    background-color: #FA3636;
    font-size: 15px;
    padding: 8px 16px;
    line-height: 22px;
    letter-spacing: 1px;
    
}

#contact {

}
#footer {

}